body {  
    margin: 0;
    background:linear-gradient(92deg, rgba(181, 73, 69, 0.63), #b2c4e2);
    background-size:100% 100%;
    color:rgb(49, 47, 47);
}

a{
    text-decoration: none;
}

header {
  background-color:rgba(255, 255, 255, 0.98);
  box-shadow: 0px 5px 5px 0px #b5a6a680;
	font-weight:800;
	overflow: hidden;	
	position: fixed;
	top: 0;
    width: 100%;
    padding:0px;
    display:grid;
    grid-template-columns: auto 320px;
    min-height:80px;
    left: 0px;
    right:0px;
    z-index: 1;
}

.logoBox{
    text-align: center;
}

.logo {
    color:#f5f5f5;
    background-color:#000;
    text-align:center;
    padding:8px;
    font-size:1.8rem;
    font-weight:400;
    text-transform:uppercase;
    display: inline-block;
    margin:.5rem;
    font-family:'Vollkorn', serif;
    text-decoration: none;
    border: 0.1rem solid #f5f5f5;
    border-radius: 0.3rem;
    text-transform: uppercase;
    display: inline-block;
    position:relative;
    width: auto;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
.logoA{
    display: inline-block;
    height: 80%; 
}

.logo:hover, .logo:focus {
    background-color:#f5f5f5;
    color:#000;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
    text-decoration: none;
}
nav{
    padding-top:20px;
    text-align: center;
}

.nav-btn{
	text-decoration: none;
    color:#bf7474;
    font-size:1.2rem;
    font-weight:500;
    font-family:'Vollkorn', serif;
    text-transform: uppercase;
    margin:0.4rem;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    text-decoration: none;
}

.nav-btn:hover, .nav-btn:focus {
    background-color:#f4e9e9;
    color:#000;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
    text-decoration: none;
}

/* //latest */
.latest{
    padding:100px 10% 60px 10%;
    text-align: center;
    font-family:'Vollkorn', serif;
}
.latest-heading{
    padding:0 12% 20px 12%;
}

.subHeader{
    font-family:'Vollkorn', serif;
    font-size:2.3rem;
    font-weight:500;
    font-variant: small-caps;
    margin:0;
}
.mainHeader{
    font-family:'Vollkorn', serif;
    font-size:4rem;
    font-weight:500;
    color:white;
    font-variant: small-caps;
    margin:0;
    line-height:4rem;
} 

.latest-grid {
    display:grid;
    grid-template-columns: 45% 55%;
}

.latest-text{
    text-align: center;
    padding-top:55px;
    font-size: 1.2rem;  
}
.latest-text p{
    /* border:solid red 0.3px; */
    margin:10px;
}
#albumArt{
    max-width:85%;
}

/* //player */
#bandcampPlayer{
    background:#2d2d30;
    color:#bdbdbd;	
    padding:30px 0;
}

/* gallery */
.frame figure img{
    width: 100%;
    margin:auto;
    min-width: 120px;
}
.gallery{
    display:grid;
    grid-template-columns: auto auto auto;
    padding:30px 12%;
}

.gallery figure {
	display:block;
	position:relative;
    overflow:hidden;
}

.frame figure figcaption {
	position:absolute;
	background: rgba(0, 0, 0, 0.75);
	color:white;
	padding:20px 0px;
    font-size:1rem;
    text-align: center;
	opacity:0;
	bottom:-30%;
	width:100%;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}
.frame figure:hover figcaption {
	opacity:1;
	bottom:0;
}

/* EP information section */
.EPInfo{
    padding:8px 0;
    background:#2d2d30;
    color:#bdbdbd;	  
    text-align: center;
    font-family:'Cormorant Infant', sans-serif;
    font-weight: 400;
}
.EPInfo h1{
    color:white;
}

/* band section */
.bandSection{
    font-family:'Cormorant Infant', sans-serif;
    font-size:1.1rem;
    font-weight: 500;
    padding-bottom:50px;
}
.bandSection h3{
    font-size:1.5rem;
}
.bandSection h4{
    font-size:1.3rem;
}

.band-grid{
    padding:0 15%;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:30px;
}

.franPic{
    width:300px;
}
.band-image{
    text-align: center;
}
.band-text{
    text-align: center;
    padding-top:100px;
    font-size:1.3rem;
}

/* contact section */
#contact{
    background:#2d2d30;
    color:#bdbdbd;	
    padding:50px 0; 
    font-size:1.3rem;
    font-family:'Cormorant Infant', sans-serif;
}
#contact h3{ 
    font-size:1.5rem;
}
.contact-form{
    text-align: center;

}
.contact-form input {
    margin:15px 8px;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width:300px;
}

/* utility use  */
.hover {
        border:.8rem solid transparent;
        opacity: .75;
        transition: color 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
        -webkit-transition: color 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
    }
.hover:hover {
        border:.8rem solid white;
        opacity: .95;
        transition: color 0.3s ease-in, border 0.3s ease-in, opacity 0.3 ease-in ;
        -webkit-transition: color 0.3s ease-in, border 0.3s ease-in, opacity 0.3s ease-in ;
    }

.text-center{
    text-align: center;
}
.weighty{
    color:white;
}

.twitter-link {
  color: white;
  transition: color 0.25s;
  font-size: 1.5rem;
}

.twitter-link:hover {
  color: rgb(245, 168, 206);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hover {
        border:0rem solid transparent;
        opacity: .75;
        transition: color 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
        -webkit-transition: color 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
    }
.hover:hover {
        border:0rem solid white;
        opacity: .95;
        transition: color 0.3s ease-in, border 0.3s ease-in, opacity 0.3 ease-in ;
        -webkit-transition: color 0.3s ease-in, border 0.3s ease-in, opacity 0.3s ease-in ;
    }

    header {
        font-weight:800;
        width: 100%;
        padding:0px;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        min-height:130px;
    }
    header a{
        display:inline-block;
        text-align: center;
    }
    header nav {
        padding-bottom:5px;
    }
    
    nav{
        padding-top:5px;
    }
    /* latest section */
    .latest{
        padding:140px 5px 60px 5px;
    }

    .latest-heading{
        padding:0 0 20px 0;
    }
    
    .subHeader{
        font-size:2.3rem;
    }
    .mainHeader{
        font-size:3.8rem;
        line-height:3.8rem;
    } 
    .latest-grid {
        display:grid;
        grid-template-columns: 100%;
    }
    
    .latest-text{
        text-align: center;
        padding:30px 0;
        font-size: 1rem;  
    }
    .artwork{
        text-align: center;
        position: relative;
        max-width:100%;
    }
    .artwork a{
        display:inline-block;
    }
    #albumArt{
        max-width:90%;
    }
    /* gallery */
    .gallery{
        display:grid;
        grid-template-columns: 1fr;
        padding:15px 0;
    }
    .frame figure img{
        margin:auto;
        min-width: 230px;
    }

/* EP information section */
    .EPInfo{
        padding:8px 4px;
    }
    .EPInfo h1{
        font-size:2rem;
    }

        /* band section */
    .bandSection{
        padding:20px 0;
        font-size:1.1rem;
        font-weight: 500;
    }
    .bandSection h3{
        font-size:1.5rem;
        margin:10px 0;
    }
    .bandSection h4{
        font-size:1.3rem;
        margin:10px 0;
    }

    .band-grid{
        padding:0 15%;
        display:grid;
        grid-template-columns: 100%;
        grid-gap:0px;
    }

    .franPic{
        width:230px;
    }

    .band-text{
        padding-top:10px;
    }
    /* contact section */
    #contact{
        padding:5px 3px 50px 3px;
        font-size:1.3rem;
        font-family:'Cormorant Infant', sans-serif;
    }
    #contact h3{ 
        font-size:1.5rem;
    }
    .contact-form{
        text-align: center;
    }
    .contact-form input {
        margin:15px 8px;
        line-height: 1.5rem;
        font-size: 1rem;
    }

    textarea {
        line-height: 1.5rem;
        font-size: 1rem;
        width:280px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logoBox{
        text-align: left;
    }

    .latest-grid {
        display:grid;
        grid-template-columns: 100%;
    }
    
    .latest-text{
        text-align: center;
        padding:30px 0;
        font-size: 1rem;  
    }
    .artwork{
        text-align: center;
        position: relative;
        max-width:100%;
    }
    .artwork a{
        display:inline-block;
    }
    #albumArt{
        max-width:90%;
    }
        /* gallery */
        .gallery{
            display:grid;
            grid-template-columns: 1fr;
            padding:15px 0;
        }

        .frame figure img{
            margin:auto;
            min-width: 230px;
        }
    
    /* EP information section */
        .EPInfo{
            padding:8px 4px;
    
        }
        .EPInfo h1{
            font-size:2rem;
        }
        /* contact */
        #contact{
            padding: 5px 5px 30px 5px;
        }
        .band-grid{
            padding:0 15%;
            display:grid;
            grid-template-columns: 100%;
            grid-gap:0px;
        }
    
        .franPic{
            width:350px;
        }
    
        .band-text{
            padding-top:10px;
        }
} 

/* Large devices (laptops/desktops, 800px Fran and image alongside and up) */
@media only screen and (min-width: 950px) {
        /* //latest */
    .latest{
        padding:100px 10% 60px 10%;
        text-align: center;
        font-family:'Vollkorn', serif;
    }
    .latest-heading{
        padding:0 12% 20px 12%;
    }

    .subHeader{
        font-family:'Vollkorn', serif;
        font-size:2.3rem;
        font-weight:500;
        font-variant: small-caps;
        margin:0;
    }
    .mainHeader{
        font-family:'Vollkorn', serif;
        font-size:4rem;
        font-weight:500;
        color:white;
        font-variant: small-caps;
        margin:0;
        line-height:4rem;
    } 

    .latest-grid {
        display:grid;
        grid-template-columns: 45% 55%;
    }

    .latest-text{
        text-align: center;
        padding-top:55px;
        font-size: 1.2rem;  
    }
    .latest-text p{
        /* border:solid red 0.3px; */
        margin:10px;
    }
    #albumArt{
        max-width:85%;
    }
    .band-grid{
        padding:0 15%;
        display:grid;
        grid-template-columns: auto auto;
        grid-gap:30px;
    }
    
    .franPic{
        width:300px;
    }
    .band-image{
        text-align: center;
    }
    .band-text{
        text-align: center;
        padding-top:100px;
        font-size:1.3rem;
    }

        /* gallery */
    .frame figure img{
        width: 100%;
        margin:auto;
        min-width: 120px;
    }
    .gallery{
        display:grid;
        grid-template-columns: auto auto auto;
        padding:30px 12%;
    }

    .gallery figure {
        display:block;
        position:relative;
        overflow:hidden;
    }

    .frame figure figcaption {
        position:absolute;
        background: rgba(0, 0, 0, 0.75);
        color:white;
        padding:20px 0px;
        font-size:1rem;
        text-align: center;
        opacity:0;
        bottom:-30%;
        width:100%;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
    }
    .frame figure:hover figcaption {
        opacity:1;
        bottom:0;
    }

}